<div class="content_post" style="background-image: url(<%= tweet.image %>);">
        <div class="more">
          <span><%= image_tag 'arrow_top.png' %></span>
          <ul class="more_list">
          <li>
              <%= link_to '詳細', "/tweets/#{tweet.id}", method: :get %>
            </li>
            <% if user_signed_in? && current_user.id == tweet.user_id %>
              <li>
                <%= link_to '編集', "/tweets/#{tweet.id}/edit", method: :get %>
              </li>
              <li>
                <%= link_to '削除', "/tweets/#{tweet.id}", method: :delete %>
              </li>
            <% end %>
            </ul>
        </div>
        <%= simple_format(tweet.text) %>
      <span class="name">
        <a href="">
          <span>投稿者</span><%= tweet.user.nickname %>
        </a>
      </span>
    </div>