<div class="contents row" >
    <p><%= @nickname %>さんの投稿一覧</p>
    <% @tweets.each do |tweet| %>
      <div class="content_post" style="background-image: url(<%= tweet.image %>);">
        <%= simple_format(tweet.text) %>
        <span class="name"><%= blog.name %></span>
      </div>
      <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
    <% end %>
    <%= paginate(@tweets) %>
  </div>